<div class="well" style="padding-top:50px">
  <% @items.each do |item| %>
    <a href="/item/show/<%= item.id %>" style="font-color:black">
    <div class="item">
      <%= item.name %><br>
      <%= image_tag item.image.thumb.url %><br>
      <!--좋아요버튼-->
      <%= link_to item_like_path(item), class: "like-btn", method: :post, remote: :true do %>
      <div>
        <span><p><i class="fa fa-thumbs-up fa-x"></i></p></span>
      </div>
      <% end %> 
      <%= item.likes.size %><br> 
      <script>
        <% if current_user.is_like?(item) %>
          $('.like-btn').addClass('liked');
        <% else %>
          $('.like-btn').addClass('like-btn');
        <% end %>
      </script>

      가격: <%= item.price %><br>
      브랜드명: <%= item.brand %><br>
      카테고리: <%= item.category %><br>
      판매일: <%= item.dueDate %><br>
      주소: <%= item.url %><br>
      제품설명: <%= render_with_hashtags(item.content) %><br>
    </div>
    </a>
  <% end %>
</div>

<style>
    @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
    .item{
        position :relative;
        padding-left :40px;
        width :45%;
        float: left;
        box-sizing :border-box;
        display :inline-block;
        margin-top :50px;
        /*margin-right: 55px;*/
        margin-left: 40px;
        box-shadow :0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0, 0.08);
        font-family: 'Jeju Gothic', sans-serif;
    }
</style>